<extend name="Base/common"/>

<block name="right">

<div class="right" id="right" name="right">
    <div class="place">
      <span>位置：</span>
      <ul class="placeul">
        <li><a href="{:U('/admin/index/index')}">首页</a></li>
        <li><a href="{:U('/admin/admin/student')}">学生设置</a></li>
        <li><a href="#">修改</a></li>
      </ul>
    </div>
    <div class="formbody">
    <div class="formtitle"><span>基本信息</span></div>
        <form id="form2" enctype="multipart/form-data" action="{:U('/admin/upload/students')}" method="post">  <!-- 插入数据到数据库-->
            <ul class="forminfo">
                <li><label>文件类型</label><input type="text" class="dfinput" classname="suffix" /></li>
                <li><label>excel选择</label><input type="file" name="excel" /></li>
                <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="确认保存"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>&nbsp;</label><input id="cancel" name="" type="reset" class="btn" value="取消保存"/></li>
            </ul>
         </form>
    </div>
</div>

</block>