<extend name="Base/common"/>

<block name="right">

<div class="right" id="right" name="right">
    <div class="place">
    	<span>位置：</span>
    	<ul class="placeul">
    		<li><a href="{:U('/admin/index/index')}">首页</a></li>
    		<li><a href="{:U('/admin/teacher/comment')}">评论管理</a></li>
    	</ul>
    </div>

    <div class="rightinfo">    
	    <div class="tools">	    
	    	<ul class="toolbar">
	        <!-- <li><a href="#"><span><img src="__PUBLIC__/images/t01.png" /></span>添加</a></li> -->
	        </ul>
	                
	        <ul class="toolbar1">
	        </ul>
	    
	    </div>

	    <table class="tablelist">
	    	<thead>
	    		<tr>
	    			<th>编号<i class="sort"><img src="__PUBLIC__/images/px.gif" /></i></th>
	    			<th>视频编号</th>
	    			<th>视频名称</th>
	    			<th>评论内容</th>
	    			<th>评论时间</th>
	    			<th>评论状态</th>
	    			<th>操作</th>
	    		</tr>
	        </thead>
	        <tbody>
	        	<volist name="list" id="vo">
	        		<tr>                                    
	        			<td>{$vo.com_id}</td>
	        			<td>{$vo.vid}</td>
	        			<td>{$vo.v_name}</td>
	        			<td>{$vo.com_content}</td>
	        			<td>{$vo.com_time}</td>
	        			<td>{$vo.com_status}</td>
	        			<td><a href="{:U('/admin/teacher/delete_com', array('id' => $vo['com_id']))}" class="tablelink">删除</a>     <a href="{:U('/admin/teacher/details_com',array('com_id' => $vo['com_id']))}" class="tablelink" >查看</a></td>
	        		</tr>
		        </volist> 
	        </tbody>
	    </table>      
    
	    
    
    </div>


	 <script type="text/javascript">
		$(document).ready(function(){
		  $(".click").click(function(){
		  $(".tip").fadeIn(200);
		  });
		  
		  $(".tiptop a").click(function(){
		  $(".tip").fadeOut(200);
		});

		  $(".sure").click(function(){
		  $(".tip").fadeOut(100);
		});

		  $(".cancel").click(function(){
		  $(".tip").fadeOut(100);
		});

		});
		
		$('.tablelist tbody tr:odd').addClass('odd');
	</script>    

</div>

</block>