<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>	
	<meta charset="utf-8">
	<title>{:F('data/sysname')}</title>
	<meta http-equiv="x-ua-compatible" content="IE=7,8,9,10,11" >
	<include file="Base/head"/>
</head>	

<body style="background:url(__PUBLIC__/images/topbg.gif) repeat-x;">
	<include file="Base/header"/>	
	<include file="Base/body"/>
</body>
<include file="Base/footer"/>		
<include file="Base/foot"/>

</html>
